.jumbotron	{
	background-color: #20315a;
	color: white;
	font-weight: bold;
	font-family: Verdana;
	font-size: 28px;
	text-align: center;
}

.panel .panel-heading{
	background-color: #20315a;
	color: white;
}
.fa-newspaper-o{
	color: white;
}

